<h1>Editing <%= @game.name %></h1>
<form action="/game/<%= @game.id %>" method="POST">
  <p>Name: <input type="text" name="name" value="<%= @game.name %>" /></p>
  
  <p>
    Category: <select name="category">
      <% if @game.category.blank? %>
        <option value="" selected>
      <% end %>

      <% ["light", "medium", "heavy"].each do |cat| %>
        <option value="<%=cat%>" <%="selected" if @game.category.to_s == cat%>><%=cat.capitalize%>
      <% end %>
    </select>
  </p>

  <p>Last played: <input type="text" name="last_played" value="<%= @game.last_played %>" /></p>

  <p>Minimum players: <input type="text" name="min_players" value="<%= @game.min_players %>" /></p>
  <p>Maximum players: <input type="text" name="max_players" value="<%= @game.max_players %>" /></p>


  <p>Minimum duration: <input type="text" name="min_duration" value="<%= @game.min_duration %>" /></p>
  <p>Maximum duration: <input type="text" name="max_duration" value="<%= @game.max_duration %>" /></p>

  <input type="submit" value="Save" />

</form>

<a href="/">Back to games</a>
